github "Alamofire/Alamofire"      	        "swift2.3"
github "bignerdranch/Deferred"              "zwaldowski/swift-2_3"
github "SnapKit/SnapKit"                    "0.30.0.beta2"
github "drmohundro/SWXMLHash"               "xcode-8.0"

github "rs/SDWebImage"                      "3.7.4"           
github "swisspol/GCDWebServer"		          "3.3.2"			     
github "kif-framework/KIF"                  "v3.3.2"
github "adjust/ios_sdk"                     "v4.5.0"
github "AgileBits/onepassword-extension"    "add-framework-support"
github "iziz/libPhoneNumber-iOS"            "0.8.11"

github "mozilla/readability"                "master"



github "fluffyemily/SwiftKeychainWrapper"   "extension-compatibility"					# default to latest tag
github "thebnich/XCGLogger"                 "trycatch"
